<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Unit Tests (CatchCpp).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6504554D1F47082E00CB3BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650455581F47085D00CB3BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>650455791F47A9FE00CB3BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A1865F1DF8DF9200BE0219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E8965B1E72F3FF000D470B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B69B5A0A3A1756003C02F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
